<!DOCTYPE html>
<html lang="en">
<head>
    <h1>MORS</h1>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MORS shopping center</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <section>
    <div class="login-box">
        <form action="/auth/login" method="post">
            <h2>Login</h2>
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                <input name="email" type="Email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input name="password" type="Password" required>
                <label>password</label>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit">Login
            </button>
            <div class="register-link">
                <p>Don't have an account &nbsp;&nbsp;<a href="/auth/register">Register</a></p>
            <p id="errorMessage" style="color: red;"></p>
            </div>
        </form>
        
    </div>
    </section>

    <script>
        const params = new URLSearchParams(window.location.search);
        const error = params.get('error');
        if(error){
            document.getElementById('errorMessage').textContent = decodeURIComponent(error)
        }
    </script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>